<h1>Votação rápida</h1>

<div>
    {msg}
</div>
<br>
<div>
    <p>
        A <b>votação rápida</b> foi desenvolvida com o objetivo de auxiliar
        nos processos de votação em reuniões de colegiados.
    </p>
    <p>
        Com esse sistema é possível realizar votações abertas e secretas. <br>
        Nas votações abertas a cédula eletrônica de votação é nominal. Assim,
        o voto individual é exibido no painel com o nome do votante.<br>
        Nas votações secretas o sistema gera uma cédula anônima e aleatória
        para cada eleitor garantindo assim o sigilo do voto.
    </p>
    <h3>Roteiro de criação e utilização</h3>
    <p>
        <a target="_roteiro"
            href="https://docs.google.com/document/d/e/2PACX-1vSucenzs0UU--gYJfuNp28lHaJgz7PY1SK5jfQJeh4VCaScBZ-fHwZ3cuNk8yhcqm6ujivdZqXLK6O4/pub">
            Roteiro
        </a>
    </p>
    <hr>
    <h3>Vídeo demostrando a interface de gerente</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/W_R3G0r14cE" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <hr>
    <h3>Vídeo demonstrando a interface do eleitor em smartphone</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/inA0uViym4M" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <hr>
    <h3>Vídeo demonstrando a interface do eleitor em desktop</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/uU0DclHW2ek" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div>
    <br>
    <a href="demo/">Painel de demostração</a>
</div>