<h1>Votação rápida</h1>

<div>
    {msg}
</div>
<br>
<div>
    <p>
        A <b>votação rápida</b> foi desenvolvida com o objetivo de auxiliar
        nos processos de votação em reuniões de colegiados.
    </p>
    <p>
        Com esse sistema é possível realizar votações abertas e secretas sendo que as votações abertas são as mais usuais.<br>
        Nas <b>votações abertas</b> a cédula eletrônica de votação é nominal. Assim, na apuração
        o voto individual é exibido no painel com o nome do votante.
    </p>
    <p>
        Nas <b>votações secretas</b> o sistema gera uma cédula anônima e aleatória
        para cada eleitor garantindo assim o sigilo do voto. A votação secreta
        desse sistema é apropriado para votações nos colegiados das unidades. Esta votação
        secreta não tem a pretensão de substituir o <a href="http://votacao.usp.br" target="votacao-usp">votacao.usp.br</a> que, de longe, tem uma 
        segurança muito mais aprimorada. Mesmo assim qualquer sistema de votação tem vulnerabilidades e é impossível haver 100% de garantia.
    </p>
    <p class="text-danger">
        Ao utilizar a <b>votação secreta</b> desse sistema você aceita que as técnicas de segurança aplicadas
        são um compromisso com a usabilidade e dependem diretamente da idoneidade das pessoas 
        que gerenciam o processo. O sistema é razoavelmente seguro contra tentativas de fraudes por parte
        de eleitores e de internautas em geral.
    </p>

    <h2>Roteiro de criação e utilização</h2>

    <p>
        <a target="_roteiro"
            href="https://docs.google.com/document/d/e/2PACX-1vSucenzs0UU--gYJfuNp28lHaJgz7PY1SK5jfQJeh4VCaScBZ-fHwZ3cuNk8yhcqm6ujivdZqXLK6O4/pub">
            Roteiro - google docs
        </a>
    </p>

    <h2>Vídeos</h2>

    <p><a href data-toggle="modal" data-target="#videoModal" data-theVideo="https://www.youtube.com/embed/W_R3G0r14cE">
            Demonstração da interface de gerente</a>
    </p>
    <p>
        <a href data-toggle="modal" data-target="#videoModal" data-theVideo="https://www.youtube.com/embed/inA0uViym4M">
            Demonstração da interface do eleitor em smartphone</a>
    </p>
    <p>
        <a href data-toggle="modal" data-target="#videoModal" data-theVideo="https://www.youtube.com/embed/uU0DclHW2ek">
            Demonstração da interface do eleitor em desktop</a>
    </p>
</div>

<!-- <div>
    <br>
    <a href="demo/">Painel de demostração</a>
</div> -->

<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div>
                    <iframe width="100%" height="450" src="" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {

        var trigger = $("body").find('[data-toggle="modal"]');
        trigger.click(function () {
            var theModal = $(this).data("target"),
                videoSRC = $(this).attr("data-theVideo"),
                videoSRCauto = videoSRC + "?autoplay=1";
            $(theModal + ' iframe').attr('src', videoSRCauto);
        });

        $('#videoModal').on('hidden.bs.modal', function (e) {
            $('#videoModal iframe').attr('src', '');
        });

    });
</script>