<h1>Votação rápida</h1>

<div>
    {msg}
</div>
<br>
<div>
    <p>
        A <b>votação rápida</b> foi desenvolvida com o objetivo de auxiliar
        nos processos de votação em reuniões de colegiados. 
    </p>
    <p>
        Com esse sistema é possível realizar votações abertas e secretas. <br>
        Nas votações abertas a cédula eletrônica de votação é nominal. Assim,
        o voto individual é exibido no painel com o nome do votante.<br>
        Nas votações secretas o sistema gera uma cédula anônima e aleatória 
        para cada eleitor garantindo assim o sigilo do voto.
    </p>
</div>

<div>
    <br>
    <a href="demo/">Painel de demostração</a>
</div>