<h1>{S->nome}</h1>
<p>Votações para essa sessão</p>
<hr />

<div id="accordion">
    <!-- BEGIN block_votacao -->
    <div class="card {V->accordion->border}">

        <div class="card-header" id="heading_{V->id}">
            <h5 class="mb-0">
                <button class="btn btn-light btn-block {V->accordion->disabled}" data-toggle="collapse"
                    data-target="#collapse_{V->id}" aria-expanded="true" aria-controls="collapse_{V->id}">
                    <h5>{V->nome}</h5>
                    <div>
                        <span class="badge badge-info">{V->tipo}</span>
                        <span class="badge {V->estadoclass}">{V->estado}</span></div>
                    <div>
                </button>
            </h5>
        </div>

        <div id="collapse_{V->id}" class="collapse {V->accordion->mostrar}" aria-labelledby="heading_{V->id}"
            data-parent="#accordion">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">{V->descricao}</h6>

                <div class="card-body">
                    <!-- BEGIN block_acao -->
                    <a class="btn btn-primary btn-block" href="apoio?acao={cod}&votacao_id={V->id}">{acao}</a>
                    <!-- END block_acao -->
                </div>
            </div>
        </div>

    </div>
    <br>
    <!-- END block_votacao -->

    <div id="instantaneo" class="card {V->accordion->border}">
        <div class="card-header">
            <h5 class="mb-0">
                <button id="instantaneo_button" class="btn btn-light btn-block {V->accordion->disabled}">
                    Criar votação instantânea
                </button>
            </h5>
        </div>
        <div id="instantaneo_body" class="card-body" style="display:none">

            <div class="card-body">
                <form method="POST" target="apoio">
                    <h6 class="text-muted">
                        Digite o texto para essa votação. As alternativas serão "A favor" e "Contrário"
                    </h6>
                    <input type="text" class="form-control mb-2" name="texto" value="">
                    <input type="hidden" name="acao" value="instantaneo">
                    <input type="submit" class="btn btn-primary btn-block" name="submit" value="Criar">
                </form>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#instantaneo_button').click(function () {
                    $('#instantaneo_body').slideToggle(500);  //toggleClass('d-none');
                    $('#instantaneo_body input:text').focus();
                });
            });
        </script>
    </div>

</div>