<h1>Avisos</h1>

<h2>
    {C->titulo}
</h2>
<p class="text-muted ml-2">Publicado em: {C->data}</p>
<div class="ml-2">
    {C->corpo}
</div>
<hr>
<div>
    <!-- BEGIN block_msg_anterior -->
    <a href="aviso/{C->prev_id}"><i class="fas fa-chevron-left"></i> Mensagem mais antiga</a>
    <!-- END block_msg_anterior -->

    <!-- BEGIN block_msg_proximo -->
    <a href="aviso/{C->next_id}" class="ml-5"> Mensagem mais recente <i class="fas fa-chevron-right"></i></a>
    <!-- END block_msg_proximo -->
</div>

<!-- BEGIN block_form -->
<div>
    <form id="aviso_form" action="" method="POST">
        <input type="checkbox" name="lidas" value="all"> Marcar todas como lidas
        <input type="hidden" name="acao" value="resetarAviso">
        <input type="hidden" name="ultimo_aviso" value="{ultimo_aviso}">
        <input class="btn btn-primary btn-sm" type="submit" name="ok" value="ok" disabled>
    </form>
    <script>
        $(function () {
            $('#aviso_form :input[name="lidas"]').change(function () {
                if ($(this).is(':checked')) {
                    $(':input[type="submit"]').prop('disabled', false);
                } else {
                    $(':input[type="submit"]').prop('disabled', true);
                }
            });
        });
    </script>
</div>
<!-- END block_form -->

<br>
<br>
<h2>Histórico de mensagens</h2>
<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            <th>Data</th>
            <th>Assunto</th>
        </tr>
    </thead>
    <tbody>
        <!-- BEGIN block_msgs -->
        <tr>
            <td class="{M->class}">{M->data}</td>
            <td><a href="aviso/{M->id}" class="{M->class}">{M->titulo}</a></td>
        </tr>
        <!-- END block_msgs -->
    </tbody>
</table>

<br>
<br>
<br>
<br>