<html>

<head></head>

<body>
    <h1>Votação rápida: Painel de demonstração</h1>

    <div>
        Esta é uma votação de demonstração do sistema.<br>
        O link <b>Tokens PDF</b> permite baixar os tokens gerados para essa votação.<br>
        O <b>apoio</b> controla o andamento da votação que deve ser apresentado pelo <b>painel</b>.<br>
        A <b>recepção</b> distribui os <b>QRCodes</b> aos eleitores previamente.<br>
        <br>
        O <b>eleitor</b> recebe um token e um QRCode que dá acesso à interface de votação.
        Se usar o QRCode, o eleitor entra direto na votação. Se usar o token, ele tem de entrar
        no link de acesso e digitar o <b>token</b>.<br>
        <br>
        Durante uma votação, é possivel gerar votos aleatórios para fins de demonstração.<br>
        Sempre que necessário limpe os dados de votação.<br>
        <br>
    </div>

    <h2>Sessão de votação</h2>
    <div>
        <!-- BEGIN block_sessao -->
        <div>
            <hr />
            <h3>{S->nome} - {S->unidade}</h3>
            <div>
                <a href="demo?acao=tokens_pdf&arq={S->tokens_pdf}">Tokens PDF</a> |
                <a href="{S->hash}" target="manual">Link de acesso</a> |
                <a href="{S->hash}/{token_apoio}" target="apoio">Apoio ({token_apoio})</a> |
                <a href="{S->hash}/{token_tela}" target="painel">Painel ({token_tela})</a> |
                <a href="{S->hash}/{token_recepcao}" target="recepcao">Recepção
                    ({token_recepcao})</a>

            </div>
            <div>Votação Fechada
                <!-- BEGIN block_fechada -->
                | <a href="{S->hash}/{token_votacao}" target="votacao">{count}</a>
                <!-- END block_fechada -->
            </div>
            <div>Votação Aberta
                <!-- BEGIN block_aberta -->
                | <a href="{S->hash}/{token_votacao}" target="votacao">{count}</a>
                <!-- END block_aberta -->
            </div>
            <div><br>
                <a href="demo?acao=votar">Gera votos aleatórios</a> |
                <a href="demo?acao=reset">Limpar os dados e começar de novo</a>
            </div>
        </div>
        <!-- END block_sessao -->

    </div>
    <hr />

    <br>
    <br>
</body>

</html>