<html>

<head></head>

<body>
    <h1>Votação rápida: Painel de demonstração</h1>

    <div>
        Sempre que necessário limpe os dados de votação.<br>
        O apoio controla o andamento da votação.<br>
        A tela mostra o andamento a ser exibido em um telão.<br>
        Recepção ainda não tem nada.<br>
        <hr />
    </div>

    <h2>Sessões de votação</h2>
    <div>
        <!-- BEGIN block_sessao -->
        <div>
            <hr />
            <h3>{S->nome} - {S->unidade}</h3>
            <div>
                <a href="demo?acao=tokens_pdf&arq={S->arq_tokens_pdf}">Tokens PDF</a> |
                <a href="{S->hash}" target="manual">Link de acesso</a> |
                <a href="{S->hash}/{token_apoio}" target="apoio">Apoio ({token_apoio})</a> |
                <a href="{S->hash}/{token_tela}" target="painel">Painel ({token_tela})</a> |
                <a href="{S->hash}/{token_recepcao}" target="recepcao">Recepção
                    ({token_recepcao})</a>

            </div>
            <div>Votação Fechada
                <!-- BEGIN block_fechada -->
                | <a href="{S->hash}/{token_votacao}" target="votacao">{count}</a>
                <!-- END block_fechada -->
            </div>
            <div>Votação Aberta
                <!-- BEGIN block_aberta -->
                | <a href="{S->hash}/{token_votacao}" target="votacao">{count}</a>
                <!-- END block_aberta -->
            </div>
            <div><br>
                <a href="demo?acao=votar&hash={S->hash}">Gera votos aleatórios</a> | 
                <a href="demo?acao=reset">Limpar os dados e começar de novo</a>
            </div>
        </div>
        <!-- END block_sessao -->

    </div>
    <hr />
    <h2>Diagrama estado-ação</h2>

    <p>Um estado pode ter várias ações mas uma ação aponta para um único estado.</p>
    <div>
        Estado => Ação<br>
        <!-- BEGIN block_estado -->
        {E->nome} => {E->acao_nome}<br>
        <!-- END block_estado -->
    </div>

    <h2>Diagrama ação-estado</h2>

    <div>
        Ação: Estado inicial -> estado final<br>
        <!-- BEGIN block_acao -->
        {A->nome}: {A->estado_ini} -> {A->estado}<br>
        <!-- END block_acao -->
    </div>
    <br>
    <br>
</body>

</html>