<meta http-equiv="Refresh" content="3">

<h2>{S->nome}</h2>
<hr>

<div>
    <!-- BEGIN block_msg -->
    <h3>{msg}</h3>
    <!-- END block_msg -->

    <!-- BEGIN block_votacao -->
    <div class="text-secondary">
        <span class="btn btn-info">{V->tipo}</span> 
        <span id="estado">{V->estado}</span>
        <!-- BEGIN block_computados -->
        <span class="btn btn-secondary" >Total: {V->computados} votos</span>
        <!-- END block_computados -->
    </div>
    <br />

    <div>
        <h3>{V->nome}</h3>
        <span class="text-secondary">{V->descricao}</span><br><br>
        <!-- BEGIN block_alternativa -->
        &nbsp; &nbsp; &nbsp; <b>[ ] {alternativa}</b><br>
        <!-- END block_alternativa -->
        <!-- BEGIN block_resposta -->
        &nbsp; &nbsp; &nbsp; <b>{R->texto}: {R->votos} votos</b><br>
        <!-- END block_resposta -->
        <br>
    </div>

    <!-- END block_votacao -->
</div>
<script type="text/javascript">
    $(function () {
        var estado = $('#estado').html();
        console.log(estado);
        $('#estado').removeClass();
        if (estado == 'Em exibição') {
            $('#estado').addClass('btn btn-outline-dark');
        }
        if (estado == 'Em votação') {
            $('#estado').addClass('btn btn-success');
        }
        if (estado == 'Em pausa') {
            $('#estado').addClass('btn btn-warning');
        }
        if (estado == 'Resultado') {
            $('#estado').addClass('btn btn-primary');
        }
    });

</script>