<meta http-equiv="Refresh" content="3">

<h2>{S->nome}</h2>
<hr>

<div>
    <!-- BEGIN block_msg -->
    <h3>{msg}</h3>
    <!-- END block_msg -->

    <!-- BEGIN block_votacao -->
    <div class="text-secondary h4">
        <span class="badge badge-info">{V->tipo}</span>
        <span id="estado" class="badge {V->estadoclass}">{V->estado}</span>

        <!-- BEGIN block_computados -->
        <span class="badge badge-secondary">Total: {V->computados} votos</span>
        <!-- END block_computados -->
    </div>
    <br />

    <div>
        <h3>{V->nome}</h3>
        <!-- BEGIN block_descricao -->
        <span class="text-secondary">{V->descricao}</span><br><br>
        <!-- END block_descricao -->
        <!-- BEGIN block_alternativa -->
        &nbsp; &nbsp; &nbsp; <b>[ ] {alternativa}</b><br>
        <!-- END block_alternativa -->
        <!-- BEGIN block_resposta -->
        &nbsp; &nbsp; &nbsp; <b>{R->texto}: {R->votos} votos</b><br>
        <!-- END block_resposta -->
        <br>
    </div>

    <!-- END block_votacao -->
</div>
