<meta http-equiv="Refresh" content="3">

<h2>{S->nome}</h2>
<hr>

<div>
    <!-- BEGIN block_msg -->
    <h3>{msg}</h3>
    <!-- END block_msg -->
    <!-- BEGIN block_votacao -->

    Estado: <span id="estado">{V->estado}</span>
    <!-- BEGIN block_computados -->
    | Computados: <b>{V->computados}</b>
    <!-- END block_computados -->
    <hr />

    <div>
        <h3>{V->nome} ({V->tipo})</h3>
        <span class="text-secondary">{V->descricao}</span><br><br>
        <!-- BEGIN block_alternativa -->
        &nbsp; &nbsp; &nbsp; <b>[ ] {alternativa}</b><br>
        <!-- END block_alternativa -->
        <!-- BEGIN block_resposta -->
        &nbsp; &nbsp; &nbsp; <b>{R->texto}: {R->votos} votos</b><br>
        <!-- END block_resposta -->
        <br>
    </div>

    <!-- END block_votacao -->
</div>
<script type="text/javascript">
    $(function () {
        var estado = $('#estado').html();
        console.log(estado);
        $('#estado').removeClass();
        if (estado == 'Em votação') {
            $('#estado').addClass('text-success');
        }
        if (estado == 'Em pausa') {
            $('#estado').addClass('text-warning');
        }
        if (estado == 'Resultado') {
            $('#estado').addClass('text-primary');
        }
    });

</script>