<meta http-equiv="Refresh" content="3">

<h1>{S->nome}</h1>
<hr>

<div>
    <!-- BEGIN block_msg -->
    <h2>{msg}</h2>
    <!-- END block_msg -->
    <!-- BEGIN block_votacao -->

    Estado: <b>{V->estado}</b>
    <!-- BEGIN block_computados -->
    | Computados: <b>{V->computados}</b>
    <!-- END block_computados -->
    <hr />

    <div>
        <h3>{V->nome} ({V->tipo})</h3>
        {V->descricao}<br><br>
        <!-- BEGIN block_alternativa -->
        &nbsp; &nbsp; &nbsp; <b>[ ] {alternativa}</b><br>
        <!-- END block_alternativa -->
        <!-- BEGIN block_resposta -->
        &nbsp; &nbsp; &nbsp; <b>{R->texto}: {R->votos} votos</b><br>
        <!-- END block_resposta -->
        <br>
    </div>

    <!-- END block_votacao -->
</div>