<style>
    /* aumenta o espaçamento das alternativas */
    .space {
        margin: 10px;
    }
</style>

<h1>{S->nome}</h1>
<hr />
<p class="h4 text-secondary">
    <span class="badge badge-info">{V->tipo}</span>
    <span id="estado" class="badge {V->estado_class}">{V->estado}</span>

    <span class="badge badge-secondary">{S->token->nome}</span>
</p>
<div>
    <!-- BEGIN block_msg -->
    <h2>{msg}</h2>
    <!-- END block_msg -->

    <!-- BEGIN block_msg_sucesso -->
    <div class="alert alert-success">{M->msg}</div>
    <p>
        Aguarde a próxima votação ou escolha uma opção.
        Você pode votar quantas vezes quiser, somente o último voto será contabilizado.
    </p>
    <div>
        <input type="button" id="mostrar_data" class="btn btn-outline-primary" name="Mostrar voto" value="Mostrar voto">
        <a class="btn btn-outline-warning" href="votacao/">Votar novamente</a>
    </div>
    <br>
    <div style="display:none;" id="data">
        <div>{V->nome}</div>
        <span class="gray">Alternativa escolhida:</span> {M->voto->alternativa->texto}
        <!-- {M->dataJson} -->
    </div>

    <script type="text/javascript">
        $(function () {
            $('#mostrar_data').click(function () {
                $('#data').slideToggle(400);
                //$(this).addClass('d-none');
            });
        });
    </script>
    <!-- END block_msg_sucesso -->

    <!-- BEGIN block_msg_erro -->
    <div class="alert alert-success">{M->msg}</div>
    <a class="btn btn-outline-warning" href="votacao/">Tentar novamente</a>

    <!-- END block_msg_erro -->

    <!-- BEGIN block_form -->
    {form}
    <!-- {V->input_count } -->
    <script type="text/javascript">
        $(function () {
            var max = 3;

            $('input[type="checkbox"]').click(function () {
                var countcheck = $('input[type="checkbox"]:checked').length;
                console.log(countcheck);
                if (countcheck >= max) {
                    $("input:checkbox:not(:checked)").attr("disabled", true);
                } else {
                    $("input:checkbox").attr("disabled", false);
                }
            });
        });
    </script>
    <!-- END block_form -->
    <div>
        <br>
        <!-- <a class="btn btn-outline-success btn-sm" href="">Votar novamente</a> -->
        <!-- <a class="btn btn-outline-warning btn-sm" href="">Finalizar</a> -->
    </div>
</div>