<style type="text/css">
    .text {
        line-height: 1.4;
        padding: 0;
        margin: 3px;
        font-size: 14px;
        text-align: justify;
    }

</style>

<page class="text" backtop="15mm" backbottom="15mm" backleft="15mm" backright="15mm">

    <page_footer>
        <hr>
        <div style="text-align:center;">Impresso em {datahora}</div>
    </page_footer>

    <div>
        <table style="width:100%; border:0;">
            <tr>
                <td style="text-align:left; width:40%;"><img src="{logo1}" style="height:60px;"></td>
                <td style="text-align:right; width: 60%;">
                    {logo2a}
                </td>
            </tr>
        </table>

        <h1>{nome}</h1>
        <hr>
        <h2>Instruções à equipe de apoio</h2>

        <p>O sistema de votação eletrônica para pautas de reuniões permite votar assuntos
            a partir de dispositivos portáteis ou computadores de forma simples.
            O eleitor recebe um QRCode com identificação única. Uma vez escaneado por um smartphone,
            ele direciona o eleitor ao site de votação com o pleito em tela. A equipe de apoio tem
            total controle quanto ao andamento da votação por meio de uma interface própria acessível por
            smartphone também. O andamento da votação pode ser apresentado em um painel eletrônico
            que permite acompanhar todo o processo.</p>

        <p>Papéis: apoio, painel eletrônico, recepção, votante.</p>
        <p>O apoio é responsável por controlar o andamento da votação.
            Ele tem acesso a um menu que permitem várias ações.</p>
        <ul>
            <li>Mostrar na tela: mostra a votação na tela</li>
            <li>Fechar: Em tela -> Fechada</li>
            <li>Iniciar: Em tela -> Em votação</li>
            <li>Pausar: Em votação -> Em pausa</li>
            <li>Mostrar resultado: Em pausa, Finalizado -> Resultado</li>
            <li>Continuar: Em pausa -> Em votação</li>
            <li>Reiniciar: Em pausa -> Em votação</li>
            <li>Finalizar: Resultado -> Finalizado</li>
        </ul>

        <p>Andamento normal: Mostrar na tela -> Iniciar -> Pausar -> Mostrar resultado ->
            Finalizar
        </p>
        <p>Podem conectar vários dispositivos de apoio. As ações serão iguais para todos.</p>
        <hr>
        <br>
        <div>
            Links:<br>
            Apoio: <a href="{wwwroot}/{S->hash}/{token_apoio}">{wwwroot}/{S->hash}/{token_apoio}</a><br>
            Painel: <a href="{wwwroot}/{S->hash}/{token_painel}">{wwwroot}/{S->hash}/{token_painel}</a><br>
            Recepção: <a href="{wwwroot}/{S->hash}/{token_recepcao}">{wwwroot}/{S->hash}/{token_recepcao}</a><br>
            Encurtado: <a href="http://{S->link_manual}">http://{S->link_manual}</a><br>
            Entrada: <a href="{wwwroot}/{S->hash}">{wwwroot}/{S->hash}</a><br>
            Aberto: <a href="{wwwroot}/{S->hash}/{token_aberta}">{wwwroot}/{S->hash}/{token_aberta}</a><br>
            Fechado: <a href="{wwwroot}/{S->hash}/{token_fechada}">{wwwroot}/{S->hash}/{token_fechada}</a><br>
        </div>
    </div>

</page>
{qrcode_lista}