<style type="text/css">
    /* usado nas instrucoes */
    .text {
        line-height: 1.4;
        padding: 0;
        margin: 3px;
        font-size: 14px;
        text-align: justify;
    }

    /* usado la lista de tokens e no individual */
    table {
        width: 100%;
        border-collapse: collapse;
    }

    .col1,
    .col2 {
        border: 1px;
        padding: 10px;
    }

    .col1 {
        width: 50%;
        /* text-align: center; */
        vertical-align: top;
    }

    .col2 {
        width: 50%;
        text-align: center;
    }

    .bold {
        font-weight: bold;
    }

    .size16 {
        font-size: 16px;
    }

    .rotate {
        text-align: center;
        rotate: 90;
    }

    .tab {
        padding-left: 30px;
        /* height: 30px; */
        /* vertical-align: middle; */
    }

    .space {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .logo {
        height: 40px;
    }
</style>