<h1>Painel de administração</h1>

<div class="row">
    <div class="col-md-12">
        <div id="usuarios">
            <h2>Usuários</h2>
            <table class="table table-sm table-hover table-striped" data-toggle="table" data-search="true"
                data-search-align="left" data-show-columns="true" data-show-toggle="true"
                data-show-search-clear-button="true"  data-height="500">
                <thead>
                    <tr>
                        <th data-field="codpes" data-sortable="true">codpes</th>
                        <th data-field="nome" data-sortable="true">nome</th>
                        <th>email</th>
                        <th data-field="unidade" data-sortable="true">unidade</th>
                        <th>lastlogin</th>
                        <th>admin</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- BEGIN block_usuarios -->
                    <tr>
                        <td>{U->codpes}</td>
                        <td>{U->nome}</td>
                        <td>{U->email}</td>
                        <td>{U->unidade}</td>
                        <td>{U->lastlogin}</td>
                        <td>{U->admin}</td>
                    </tr>
                    <!-- END block_usuarios -->
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Estados</h2>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Cod</th>
                    <th>Nome</th>
                    <th>Ações</th>
                    <th>Tabela</th>
                </tr>
            </thead>
            <!-- BEGIN block_estado -->
            <tr>
                <td>{E->cod}</td>
                <td> {E->nome}</td>
                <td>{E->acoes} </td>
                <td> {E->tabela}</td>
            </tr>
            <!-- END block_estado -->
        </table>
        <br>
        <h2>Ações</h2>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Cod</th>
                    <th>Nome</th>
                    <th>Estado ini</th>
                    <th>Estado fim</th>
                    <th>Mensagem</th>
                    <th>Escopo</th>
                </tr>
            </thead>
            <!-- BEGIN block_acao -->
            <tr>
                <td>{A->cod}</td>
                <td> {A->nome}</td>
                <td>{A->estado_ini} </td>
                <td>{A->estado} </td>
                <td> {A->msg}</td>
                <td> {A->escopo}</td>
            </tr>
            <!-- END block_acao -->
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Logs</h2>
        <table class="table table-sm table-hover table-striped" data-toggle="table" data-search="true"
            data-search-align="left" data-show-columns="true" data-show-toggle="true" data-sort-name="datetime"
            data-sort-order="desc" data-height="500">
            <thead>
                <tr>
                    <th data-field="datetime" data-sortable="true">datetime</th>
                    <th data-field="mensagem" data-sortable="true">mensagem</th>
                    <th>contexto</th>
                    <th>extra</th>
                </tr>
            </thead>
            <tbody>
                <!-- BEGIN block_log -->
                <tr>
                    <td>{log->datetime}</td>
                    <td>{log->message}</td>
                    <td>{log->context|json_encode}</td>
                    <td>{log->extra|json_encode}</td>
                </tr>
                <!-- END block_log -->
            </tbody>
        </table>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>