<h1>
    Painel de administração |
    <span class="small">
        <a href="{main->self}/../log">Logs</a> |
        <a href="{main->self}/../usuario">Usuários</a> |
        <a href="{main->self}/../controle">Controle</a>
    </span>
</h1>

<!-- BEGIN block_usuario -->
<div class="row">
    <div class="col-md-12">
        <div id="usuarios">
            <h2>Usuários</h2>
            <table class="table table-sm table-hover table-striped" data-toggle="table" data-search="true"
                data-search-align="left" data-show-columns="true" data-show-toggle="true" data-sort-name="lastlogin"
                data-sort-order="desc">
                <thead>
                    <tr>
                        <th data-field="codpes" data-sortable="true">codpes</th>
                        <th data-field="nome" data-sortable="true">nome</th>
                        <th data-field="email" data-sortable="true">email</th>
                        <th data-field="unidade" data-sortable="true">unidade</th>
                        <th data-field="lastlogin" data-sortable="true">lastlogin</th>
                        <th data-field="admin" data-sortable="true">admin</th>
                        <th data-field="ultimo_aviso" data-sortable="true">aviso</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- BEGIN block_usuario_list -->
                    <tr>
                        <td>{U->codpes}</td>
                        <td>{U->nome}</td>
                        <td>{U->email}</td>
                        <td>{U->unidade}</td>
                        <td>{U->lastlogin}</td>
                        <td>{U->admin}</td>
                        <td>{U->ultimo_aviso}</td>
                    </tr>
                    <!-- END block_usuario_list -->
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- END block_usuario -->

<!-- BEGIN block_log -->
<div class="row">
    <script src="assets/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    <div class="col-md-12">
        <h2>Logs</h2>
        <table class="table table-sm table-hover table-striped" data-toggle="table" data-filter-control="true"
            data-sort-name="datetime" data-sort-order="desc">
            <thead>
                <tr>
                    <th data-field="datetime" data-filter-control="input" data-sortable="true">datetime</th>
                    <th data-field="level">level</th>
                    <th data-field="canal" data-filter-control="select">canal</th>
                    <th data-field="mensagem" data-filter-control="input">mensagem</th>
                    <th data-field="contexto" data-filter-control="input">contexto</th>
                    <!--- <th>extra</th> --->
                </tr>
            </thead>
            <tbody>
                <!-- BEGIN block_log_list -->
                <tr>
                    <td>{log->datetime}</td>
                    <td>{log->level_name}</td>
                    <td>{log->channel}</td>
                    <td>{log->message}</td>
                    <td>{log->context|json_encode:256}</td>
                    <!-- <td>{log->extra|json_encode}</td> -->
                </tr>
                <!-- END block_log_list -->
            </tbody>
        </table>
    </div>
</div>
<!-- END block_log -->


<!-- BEGIN block_controle -->

<div class="row">
    <div class="col-md-12">
        <h2>Estados</h2>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Cod</th>
                    <th>Nome</th>
                    <th>Ações</th>
                    <th>Tabela</th>
                </tr>
            </thead>
            <!-- BEGIN block_estado -->
            <tr>
                <td>{E->cod}</td>
                <td> {E->nome}</td>
                <td>{E->acoes} </td>
                <td> {E->tabela}</td>
            </tr>
            <!-- END block_estado -->
        </table>
        <br>
        <h2>Ações</h2>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Cod</th>
                    <th>Nome</th>
                    <th>Estado ini</th>
                    <th>Estado fim</th>
                    <th>Mensagem</th>
                    <th>Escopo</th>
                </tr>
            </thead>
            <!-- BEGIN block_acao -->
            <tr>
                <td>{A->cod}</td>
                <td> {A->nome}</td>
                <td>{A->estado_ini} </td>
                <td>{A->estado} </td>
                <td> {A->msg}</td>
                <td> {A->escopo}</td>
            </tr>
            <!-- END block_acao -->
        </table>
    </div>
</div>
<!-- END block_controle -->

<br>
<br>
<br>
<br>
<br>
<br>