<div id="votacoes">
    <style>
        #votacoes .item:hover {
            background-color: #ecedee;
        }
    </style>
    <h2>Votações <span class="badge badge-pill badge-info">{S->countVotacao}</span></h2>
    <div>
        <!-- BEGIN block_votacao -->
        <div class="item my-2">
            <div class="nome">
                {V->nome} ({V->tipo})
                <a href="" class="editar_btn hide btn btn-sm btn-outline-warning"><i class="fas fa-edit"></i></a>
            </div>
            <div class="form hide">
                <form method="POST">

                    <!-- <input type="hidden" name="acao" value="atualizarVotacao"> -->
                    <input type="hidden" name="id" value="{V->id}">
                    <div>
                        <label class="col-sm-12">
                            <span class="text-secondary">Nome</span>
                            <div>
                                <input type="text" name="nome" value="{V->nome}" style="width:100%">
                            </div>
                        </label>
                    </div>
                    <div>
                        <label class="col-form-label col-sm-12">
                            <span class="text-secondary">Descrição</span>
                            <div>
                                <textarea name="descricao" rows="4" style="width:100%">{V->descricao}</textarea>
                            </div>
                        </label>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-sm btn-outline-primary" name="acao"
                            value="atualizarVotacao">
                            <i class="fas fa-check"></i> Salvar</button>
                        <button type="button" class="cancelar_btn btn btn-sm btn-outline-warning">Cancelar</button>
                        <button type="submit" class="remover_btn btn btn-sm btn-outline-danger" name="acao"
                            value="removerVotacao">
                            <i class="fas fa-trash"></i></button>
                    </div>
                </form>
            </div>
            <div class="descricao">
                <div class="small ml-3">{V->descricao|nl2br}</div>
            </div>
        </div>
        <!-- END block_votacao -->
    </div>
    <script>
        $(function () {
            var votacoes = $('#votacoes');

            // votacoes.find('.nome').click(function () {
            //     $(this).parent().find('.detalhes').slideToggle(500);
            // });

            thisItem = function(el) {
                var item = el.closest('.item');
                var self = {};
                self.form = item.find('.form');
                self.descricao = item.find('.descricao');
                return self;
            }

            votacoes.find('.editar_btn').click(function (e) {
                e.preventDefault();
                votacoes.find('.form').slideUp(500);
                votacoes.find('.descricao').slideDown(500);
                if (thisItem($(this)).form.is(':visible')) {
                    thisItem($(this)).form.slideUp(500);
                    thisItem($(this)).descricao.slideDown(500);
                } else {
                    thisItem($(this)).descricao.slideUp(500);
                    thisItem($(this)).form.slideDown(500);
                }
            });

            votacoes.find('.cancelar_btn').click(function (e) {
                e.preventDefault();

                thisItem($(this)).form.slideUp(500);
                thisItem($(this)).descricao.slideDown(500);
            });

            votacoes.find('.remover_btn').click(function (e) {
                e.preventDefault();
                alert('Ainda não implementado.');
            });


            votacoes.find('.item').hover(
                function () { $(this).find('a').show(); },
                function () { $(this).find('a').hide(); }
            );
        });
    </script>
</div>