<div id="gerente">
    <style>
        #gerente .item:hover {
            background-color: #ecedee;
        }
    </style>

    <h3>
        Gerentes
        <a href class="adicionar_btn btn btn-sm btn-outline-primary bold">+</a>
        <a class="btn btn-sm btn-outline-info enviar_btn" href="{main->self}?acao=emailTokensControle">Enviar tokens de
            controle</a><br>

    </h3>
    <span class="form_span hide">
        <form class="d-inline" method="POST" action="">
            <input class="col-md-6" type="text" name="codpes" placeholder="Número USP ..">
            <input type="hidden" name="acao" value="addUser">
            <input class="btn btn-sm btn-outline-primary" type="submit" name="ok" value="ok">
        </form>
    </span>
    <div class="ml-2">
        <!-- BEGIN block_autorizacao -->
        <div class="item" id="autorizacao_{U->id}">
            {U->codpes} - {U->nome} ({U->unidade})
            <a href class="remover_btn hide {U->self} btn btn-sm btn-outline-danger" title="Remover"><i
                    class="fas fa-trash-alt"></i></a>
            <span class="btn btn-sm btn-outline-success hide" title="Sou eu"><i class="fas fa-smile"></i></span>
        </div>
        <!-- END block_autorizacao -->
    </div>
    <script type="text/javascript">
        $(function () {
            var gerente = $('#gerente');

            gerente.find('.adicionar_btn').click(function (e) {
                e.preventDefault();
                gerente.find('.form_span').toggle();
                gerente.find('form input:text').focus();
            });

            gerente.find('form').submit(function (e) {
                var value = $(this).find('input:text').val();
                if (value.trim() == '') {
                    e.preventDefault();
                }
            });

            gerente.find('.remover_btn').click(function (e) {
                e.preventDefault();
                id = $(this).parent().attr('id').split('_').pop();
                if (confirm('Quer remover este usuário?') == false) {
                    return false;
                }
                console.log('remover usuario ', id);
                $.post(
                    window.location,
                    { acao: 'delUser', id: id },
                    function (data) {
                        res = JSON.parse(data);
                        if (res.status == 'ok') {
                            console.log('Usuario removido com sucesso')
                            location.reload();
                        }
                    }
                );
            });

            gerente.find('.item').hover(
                function () {
                    if ($(this).find('a').hasClass('self')) {
                        $(this).find('span').show();
                    } else {
                        $(this).find('a').show();
                    }
                },
                function () {
                    $(this).find('a').hide();
                    $(this).find('span').hide();

                }
            );

            gerente.find('.enviar_btn').click(function () {
                if (!confirm('Isto enviará email a todos os gerentes com os tokens de controle.\nTem certeza?')) {
                    return false;
                }
            });
        });
    </script>
</div>