<style>
    #eleitores .item:hover {
        background-color: #ecedee;
    }
</style>
<div id="eleitores">
    <h2>Eleitores <span class="badge badge-pill badge-info">{S->countTokenAberto}</span>
        <span>
            <a href class="adicionar_btn btn btn-sm btn-outline-primary ml-2" title="Adicionar">
                <i class="fas fa-user-plus"></i>
            </a>

            <a href class="importar_btn btn btn-sm btn-outline-primary ml-2"
                title="Importar lista de eleitores. Formato: apelido;nome;email">
                <i class="fas fa-file-upload"></i>
            </a>

            <a href="{main->self}?acao=emailTodosEleitores" class="email_all_btn btn btn-sm btn-outline-primary ml-2"
                title="Enviar email para todos">
                <i class="fas fa-mail-bulk"></i> <i class="fas fa-paper-plane"></i>
            </a>

            <form enctype="multipart/form-data" method="POST" class="importar_form"
                style="width: 0px; height: 0px; overflow: hidden;">
                <input type="hidden" name="acao" value="importarEleitores">
                <input type="file" name="arq_eleitores" accept=".csv, .txt">
            </form>
        </span>
    </h2>
    <!-- BEGIN block_eleitor -->
    <div class="item" id="token_{T->id}">
        {T->apelido} ({T->email})
        <a href="" class="remover_btn hide btn btn-sm btn-outline-danger" title="Remover"><i
                class="fas fa-trash-alt"></i></a>
        <a href="" class="editar_btn hide btn btn-sm btn-outline-warning" title="Editar"><i class="fas fa-edit"></i></a>
        <a href="{main->self}?acao=emailEleitor&id={T->id}" class="email_btn hide btn btn-sm btn-outline-primary"
            title="Enviar email"><i class="fas fa-paper-plane"></i></a>
        <a class="hide">{T->token}</a>
    </div>
    <!-- END block_eleitor -->
    <script>
        $(function () {
            var eleitores = $('#eleitores');

            eleitores.find('.item').hover(
                function () { $(this).find('a').show(); },
                function () { $(this).find('a').hide(); }
            );

            eleitores.find('.remover_btn').click(function (e) {
                e.preventDefault();
                id = $(this).parent().attr('id').split('_').pop();
                if (confirm('Quer remover este eleitor?') == false) {
                    return false;
                }
                console.log('remover eleitor ', id);
                $.post(
                    window.location,
                    { acao: 'removerEleitor', id: id },
                    function (data) {
                        console.log(data);

                        res = JSON.parse(data);
                        if (res.status == 'ok') {
                            console.log('Eleitor removido com sucesso')
                            location.reload();
                        } else {
                            alert(res.msg);
                        }
                    }
                );
            });

            eleitores.find('.email_btn').click(function (e) {
                if (confirm('Quer enviar email?') == false) {
                    return false;
                }
            });

            eleitores.find('.email_all_btn').click(function (e) {
                if (confirm('Quer enviar email?') == false) {
                    return false;
                }
            });

            eleitores.find('.importar_btn').click(function (e) {
                e.preventDefault();
                eleitores.find('.importar_form input[type=file]').click();
            });

            eleitores.find('.adicionar_btn').click(function (e) {
                e.preventDefault();
                // eleitores.find('.importar_form input[type=file]').click();
            });

            eleitores.find('.editar_btn').click(function (e) {
                e.preventDefault();
                // eleitores.find('.importar_form input[type=file]').click();
            });

            eleitores.find('.importar_form input[type=file]').change(function () {
                eleitores.find('.importar_form').submit();
            });
        });
    </script>
</div>