<style>
    #eleitores .item:hover {
        background-color: #ecedee;
    }
</style>
<div id="eleitores">

    <h2><a href="{main->self}/../votacoes">Votações</a> |
        Eleitores <span class="badge badge-pill badge-info">{S->countTokenAberto}</span>
        <span>
            <span class="adicionar_target"></span>

            <a href class="importar_btn btn btn-sm btn-outline-primary ml-2"
                title="Importar lista. Formato: apelido;nome;email">
                <i class="fas fa-file-upload"></i>
            </a>

            <a href="{main->self}?acao=exportarEleitores" class="exportar_btn btn btn-sm btn-outline-primary ml-2"
            title="Exportar lista">
            <i class="fas fa-file-download"></i>
        </a>

            <a href="{main->self}?acao=emailTodosEleitores" class="email_all_btn btn btn-sm btn-outline-primary ml-2"
                title="Enviar email para todos">
                <i class="fas fa-mail-bulk"></i> <i class="fas fa-paper-plane"></i>
            </a>

            <form enctype="multipart/form-data" method="POST" class="importar_form"
                style="width: 0px; height: 0px; overflow: hidden;">
                <input type="hidden" name="acao" value="importarEleitores">
                <input type="file" name="arq_eleitores" accept=".csv, .txt">
            </form>
        </span>
    </h2>
    <div class="ml-2">
        <div class="form_target add_form_target"></div>
        <!-- BEGIN block_eleitor -->
        <div class="item" id="token_{T->id}">
            {T->apelido} : {T->nome} : {T->email}
            <span class="item_target" apelido="{T->apelido}" nome="{T->nome}" email="{T->email}" id="{T->id}"></span>

            <a href="{main->self}?acao=emailEleitor&id={T->id}" class="email_btn hide btn btn-sm btn-outline-primary"
                title="Enviar email"><i class="fas fa-paper-plane"></i></a>
            <a class="hide">token:...{T->token|substr:-3}</a>
            <div class="form_target"></div>
        </div>
        <!-- END block_eleitor -->
    </div>
    <div class="form_template hide">
        <form method="POST">
            <div>
                <label class="col-sm-12">
                    <span class="text-secondary">Apelido</span>
                    <div>
                        <input type="text" name="apelido" style="width:100%">
                    </div>
                </label>
            </div>
            <div>
                <label class="col-sm-12">
                    <span class="text-secondary">Nome</span>
                    <div>
                        <input type="text" name="nome" style="width:100%">
                    </div>
                </label>
            </div>
            <div>
                <label class="col-sm-12">
                    <span class="text-secondary">E-mail</span>
                    <div>
                        <input type="e-mail" name="email" style="width:100%">
                    </div>
                </label>
            </div>
            <input type="hidden" name="id" value="">
            <div class="text-right mr-4">
                <button type="submit" class="btn btn-sm btn-outline-primary" name="acao" value="">
                    <i class="fas fa-check"></i> Salvar</button>
                <button type="button" class="cancelar_btn btn btn-sm btn-outline-warning">
                    <i class="fas fa-ban"></i> Cancelar</button>
            </div>
        </form>
    </div>
    <div class="item_template hide">
        <a href="" class="editar_btn hide btn btn-sm btn-outline-warning mr-2" title="Editar">
            <i class="fas fa-edit"></i>
        </a>
        <a href="" class="remover_btn hide btn btn-sm btn-outline-danger mr-2" title="Remover">
            <i class="fas fa-trash-alt"></i>
        </a>
    </div>
    <div class="adicionar_template hide">
        <a href class="adicionar_btn btn btn-sm btn-outline-primary ml-2" title="Adicionar">
            <i class="fas fa-user-plus"></i>
        </a>
    </div>
    <script>
        $(function () {

            var eleitores = $('#eleitores');

            eleitores.crud({
                editAction: 'editarEleitor',
                removeAction: 'removerEleitor',
                addAction: 'adicionarEleitor'
            });

            eleitores.find('.item').hover(
                function () { $(this).find('a').show(); },
                function () { $(this).find('a').hide(); }
            );

            eleitores.find('.email_btn').click(function (e) {
                if (confirm('Quer enviar email?') == false) {
                    return false;
                }
            });

            eleitores.find('.email_all_btn').click(function (e) {
                if (confirm('Quer enviar email?') == false) {
                    return false;
                }
            });

            eleitores.find('.importar_btn').click(function (e) {
                e.preventDefault();
                eleitores.find('.importar_form input[type=file]').click();
            });

            eleitores.find('.importar_form input[type=file]').change(function () {
                eleitores.find('.importar_form').submit();
            });

            // eleitores.find('.exportar_btn').click(function (e) {
            //     e.preventDefault();
            // });
        });
    </script>
</div>